 <%- include('./layouts/header.ejs') %>

 <div class="container">
     <div class="row mt-5 ">
         <div class="col-sm-12  p-5" style="border: 1px solid dodgerblue; background-color: #CCC;">
             <div class="display-4 text-warning bg-info text-center">Create Student Record</div>
             <form method="post" action="/update/<%-data._id %>" enctype="multipart/form-data">
                 <div class="mb-3">
                     <label for="Name" class="form-label">Name</label>
                     <input type="text" name="name" class="form-control" id="name" value="<%-data.name %>">
                 </div>
                 <div class="mb-3">
                     <label for="age" class="form-label">Age</label>
                     <input type="text" name="age" class="form-control" id="age" value="<%-data.age %>">
                 </div>
                 <div class="mb-3">
                     <label for="phone" class="form-label">Phone</label>
                     <input type="text" name="phone" class="form-control" id="phone" value="<%-data.phone %>">
                 </div>
                 <div class="mb-3">
                     <label for="email" class="form-label">Email</label>
                     <input type="text" class="form-control" name="email" id="email" value="<%-data.email %>">
                 </div>


                 <div class="row mb-3">
                     <script>
                         var loadFile = function (event) {
                             var output = document.getElementById('output');
                             output.src = URL.createObjectURL(event.target.files[0]);
                             output.onload = function () {
                                 URL.revokeObjectURL(output.src) // free memory
                             }
                         };

                     </script>
                     <div class="col-sm-3"> <img id="output" class="img-thumbnail" height="150" width="150" /></div>
                     <div class="col-sm-3">
                         <label class="form-label">Upload profile picture</label>
                         <input accept="image/*" type="file" name="image" id="imgInp" class="form-control"
                             onchange="loadFile(event)" required />
                     </div>
                 </div>
                 <div class="mb-3">
                     <button type="submit" class="btn  btn-lg border-light bg-secondary text-light">Update
                         Record</button>
                 </div>
             </form>
         </div>
     </div>
 </div>
 </div>
 <%- include('./layouts/footer.ejs') %>
